{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>{{ book.title }}</h1>
    <h2>By {{ book.author }}</h2>
    <div class="media">
        <img src="{{ url_for('static', filename='book_covers/' + book.cover_image) }}">
    </div>
    <p>Read by {{ count }} people</p>
</div>
{% endblock content %}
{% block sidebar %}
{% if current_user.is_admin == 1%}
<div class="col-md-4">
<div class="content-section">
    <h1>Admin Sidebar</h1>
</div>
</div>
{% endif %}
{% endblock sidebar %}
