{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <h1>My Books</h1>
  <h2>Total Books: {{ count }}</h2>

  {% if count==0 %}
  <p>It appears you have no books. Why not <a href="{{ url_for('main.add_book') }}">add one</a>?</p>
  {% endif %}

  {% for book in books %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('main.author', author_id=book.authors[0].id) }}">{{ book.authors[0] }}</a>
      </div>
      <h2><a class="article-title float-left" href="{{ url_for('main.book', book_id=book.id) }}">{{ book.title }}</a></h2>
      <div class="font-italic">My tags: {{ tags }}</div>

      <form method="POST", action="{{url_for('main.update_tags', book_id=book.id, user_id=current_user.id)}}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.tag.label(class="form-control-label") }}
            {% if form.tag.errors %}
            {{ form.tag(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.tag.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.tag(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
      <button type="button" class="btn btn-danger btn-sm m-1 float-right" data-toggle="modal" data-target="#removeBookModal_{{ book.id }}">Remove</button>
    </div>
  </article>

  {% endfor %}
</div>

<!-- Modal -->
{% for book in books %}
<div class="modal fade" id="removeBookModal_{{ book.id }}" tabindex="-1" role="dialog" aria-labelledby="removeBookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeBookModalLabel">Remove Book?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove {{book.title}} from the account? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('main.delete_book', book_id=book.id) }}" method="POST">
          <input type="submit" class="btn btn-danger" value="Remove" name="submit_button">
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}
{% block sidebar %}
{% include "account_sidebar.html" %}
{% endblock sidebar %}
